@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/*My solution*/

body{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer, .content, ul{
  display:flex;
  justify-content: space-between;
}

.header, .footer{
  padding: 5px;
}

button, .buttons{
  padding: 10px;
}

.content{
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

li{
  margin-right: 10px;
}

a{
  color: black;
  text-decoration: none;
}

.footer{
  background-color: #eeeeee;
}

/*Almost 100%, acceptable*/